{{define "layout"}}<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/site/favicon.ico" type="image/x-icon" />
    <!--<link href="/static/css/a.css" rel="stylesheet" type="text/css">
    <link href="/static/css/b.css" rel="stylesheet" type="text/css">-->
    {{template "head" .}}
    <style>
        body {
            font-family: "Microsoft YaHei UI", sans-serif;
            margin: 10px 10px;
        }
    </style>
</head>
<body>
{{template "header" .}}
{{template "content" .}}
{{template "footer" .}}
</body>
</html>
{{end}}