{{define "content"}}
<div id="content">
    {{with .Content}}
    <section id="index-posts">
        <h5>最新文章</h5>
        <ol>
            {{range .Posts}}
            <li><time>{{.Posted.Format "01-02"}}</time><a href="/post/{{.Id}}" title="{{.Id}}">{{.Title}}</a></li>
            {{end}}
        </ol>
    </section>
    <section id="side-players">
        <h5>热门棋手</h5>
        <ol>
            {{range .Players}}
            <li><a href="/player/{{.Id}}">{{.Name}}</a></li>
            {{end}}
        </ol>
    </section>
    <section id="side-sgfs">
        <h5>热门棋谱</h5>
        <ol>
            {{range .Sgfs}}
            <li><a href="/sgf/{{.Id}}" title="{{.Black}} VS {{.White}}">{{.Event}}</a></li>
            {{end}}
        </ol>
    </section>
    {{end}}
</div>
{{end}}