{{define "content"}}
<style>
    body > #content > table {
        margin: auto;
        border-collapse: collapse;
        font-size: 18px;
    }
    body > #content > table td,  body > #content > table th{
        text-align: center;
        padding: 1px 3px;
        border: 1px solid black
    }
    body > #content > table th{
        background: #047ec4;
    }
    body > #content > table tbody tr:hover{
        background: #eeeeee;
    }
    body > #content > table tbody tr td a{
        color: blue;
        text-decoration: none;
    }
    body > #content > table tbody tr:hover td a{
        color: red;
    }
</style>
<div id="content">
    {{with .Content}}
    <table>
        <thead>
        <tr>
            <th>姓名</th>
            <th>性别</th>
            <th>国籍</th>
            <th>段位</th>
            <th>生日</th>
        </tr>
        </thead>
        <tbody>
        {{range .Players}}
        <tr onclick="location.href='/player/{{.Id}}'">
            <td><a href="/player/{{.Id}}" title="{{.Name}}">{{.Name}}</a></td>
            <td>{{.StrSex}}</td>
            <td>{{.Country}}</td>
            <td>{{.StrRank}}</td>
            <td>{{.Birth.Format "2006-01-02"}}</td>
        </tr>
        {{end}}
        </tbody>
    </table>
    {{end}}
</div>
{{end}}