{{define "content"}}
<style>
    #content {
        margin: 62px 10px 10px 10px;
        padding: 10px;
        display: inline-block;
        background: white;
    }
    body > #content > table {
        margin: auto;
        border-collapse: collapse;
        font-size: 18px;
    }
    body > #content > table td,  body > #content > table th{
        text-align: center;
        padding: 2px 6px;
        border: 1px solid black
    }
    body > #content > table th{
        background: #047ec4;
    }
    body > #content > table tbody td a{
        color: blue;
        text-decoration: none;
    }
    body > #content > table tbody tr:hover{
        background: #eeeeee;
    }
    body > #content > table tbody tr:hover td a{
        color: red;
    }
</style>
<div id="content">
    {{with .Content}}
    <table>
        <thead>
        <tr>
            <th>比赛</th>
            <th>黑棋</th>
            <th>白棋</th>
            <th>结果</th>
            <th>日期</th>
        </tr>
        </thead>
        <tbody>
        {{range .Sgfs}}
        <tr onclick="location.href='/sgf/{{.Id}}'">
            <td><a href="/sgf/{{.Id}}" title="{{.Event}}">{{.Event}}</a></td>
            <td>{{.Black}}</td>
            <td>{{.White}}</td>
            <td>{{.Result}}</td>
            <td>{{.Time.Format "2006-01-02"}}</td>
        </tr>
        {{end}}
        </tbody>
    </table>
    {{end}}
</div>
{{end}}