{{define "content"}}
<style>
    body > #content > #editor {
        float: left;
        margin: auto 10px;
    }
    body > #content > #editor .input {
        width: 500px;
        font-size: 18px;
    }
    body > #content > #editor .text {
        height: 500px;
        resize: none;
    }
    body > #content > #list {
        float: left;
    }
    body > #content > #list table {
        border-collapse: collapse;
    }
    body > #content > #list table th{
        border: 1px solid black;
        background: #0394ea;
        padding: 2px 3px;
    }
    body > #content > #list table td{
        border: 1px solid black;
        padding: 2px 3px;
    }
</style>
<div id="content">
    {{with .Content}}
    <section id="editor">
        <form action="{{.Editor.Action}}" method="post">
            <input type="hidden" name="id" value="{{.Post.Id}}">
            <table>
                <caption>文章编辑</caption>
                <tr>
                    <th>标题</th><td><label><input name="title" type="text" class="input title" value="{{.Post.Title}}"></label></td>
                </tr>
                <tr>
                    <th>内容</th><td><label><textarea name="text" class="input text">{{.Post.Text}}</textarea></label></td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <button onclick="this.submit()">提交</button>
                        <span style="color: #f00;">{{.Editor.Msg}}</span>
                    </td>
                </tr>
            </table>
        </form>
    </section>
    <section id="list">
        <table>
            <caption>文章列表</caption>
            <thead>
            <tr>
                <th>标题</th><th>状态</th><th>更新</th><th>操作</th>
            </tr>
            </thead>
            <tbody>
            {{range .Posts}}
            <tr>
                <td><a href="/user/post/{{.Id}}" title="{{.Title}}">{{.Title}}</a></td>
                <td>{{.StrStatus}}</td><td>{{.Update.Format "01-02 15:04"}}</td>
                <td><form action="/user/post/del" method="post"><label><input name="id" type="hidden" value="{{.Id}}"></label><button onclick="this.submit()">删除</button></form></td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </section>
    {{end}}
    <div style="clear: both;"></div>
</div>
{{end}}