{{define "content"}}
<style>
    body > #content {
        margin: 10px 20px;
    }
    body > #content > section > form > label > .file {
        border: 1px solid #9accf0
    }
    body > #content > section > ol  {
        list-style-type: none;
    }
    body > #content > section > ol > li {
        display: inline-block;
        margin: auto 10px;
        text-align: center;
    }
    body > #content > section > ol > li > a > img {
        border: 1px solid black;
    }
    body > #content > section > ol > li > span {
        display: block;
    }
    body > #content > section > ol > li > time {
        display: block;
    }
    body > #content > section > ol > li > label > textarea {
        height: 50px;
    }
</style>
<div id="content">
    <section>
        <form action="/user/img/upload" method="post" enctype="multipart/form-data">
            <label>
                标题: <input type="text" name="title" value="">
            </label>
            <label>
                上传图片: <input type="file" name="file" class="file">
            </label>
            <input type="submit" value="提交">
        </form>
    </section>
    {{with .Content}}
    <section>
        <ol>
            {{range .Imgs}}
            <li><a href="/user/img/{{.Id}}" title="{{.Title}}"><img src="{{.Src}}" alt="{{.Alt}}" width="120"/></a>
                <span>{{.Title}}</span>
                <time>{{.Upload.Format "2006-01-02 15:04:05"}}</time>
                <label>
                    <textarea><a href="{{.Src}}" title="{{.Title}}"  target="_blank"><img src="{{.Src}}" alt="{{.Alt}}" width="450"/></a></textarea>
                </label>
                <form action="/user/img/remove" method="post">
                    <input type="hidden" name="id" value="{{.Id}}">
                    <input type="submit" value="删除">
                </form>
            </li>
            {{end}}
        </ol>
    </section>
    {{end}}
</div>
{{end}}