{{define "content"}}
<style>
    body > #content > #editor {
        float: left;
        margin: auto 10px;
    }
    body > #content > #editor .input {
        width: 500px;
        font-size: 18px;
    }
    body > #content > #editor .text {
        height: 500px;
        font-size: 18px;
        resize: none;
    }
    body > #content > #list {
        float: left;
    }
    body > #content > #list table {
        border-collapse: collapse;
    }
    body > #content > #list table th{
        border: 1px solid black;
        background: #0394ea;
        padding: 2px 3px;
    }
    body > #content > #list table td{
        border: 1px solid black;
        padding: 2px 3px;
    }
</style>
<div id="content">
    {{with .Content}}
    <section id="editor">
        <form action="{{.Editor.Action}}" method="post">
            <input type="hidden" name="id" value="{{.Player.Id}}">
            <table>
                <caption>棋手编辑</caption>
                <tr>
                    <th>姓名</th><td><label><input name="name" type="text" class="input" value='{{.Player.Name }}'></label></td>
                </tr>
                <tr>
                    <th>性别</th><td><label><input name="sex" type="text" class="input" value="{{.Player.StrSex}}"></label></td>
                </tr>
                <tr>
                    <th>国籍</th><td><label><input name="country" type="text" class="input" value="{{.Player.Country}}"></label></td>
                </tr>
                <tr>
                    <th>段位</th><td><label><input name="rank" type="text" class="input" value="{{.Player.StrRank}}"></label></td>
                </tr>
                <tr>
                    <th>生日</th><td><label><input name="birth" type="text" class="input" value='{{.Player.Birth.Format "2006-01-02"}}'></label></td>
                </tr>
                <tr>
                    <th>介绍</th><td><label><textarea name="text" class="input text">{{.Text.Text}}</textarea></label></td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <button onclick="this.submit()">提交</button>
                        <span style="color: red;">{{.Editor.Msg}}</span>
                    </td>
                </tr>
            </table>
        </form>
    </section>
    <section id="list">
        <table>
            <caption>棋手列表</caption>
            <thead>
            <tr>
                <th>姓名</th>
                <th>性别</th>
                <th>国籍</th>
                <th>段位</th>
                <th>生日</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {{range .Players}}
            <tr>
                <td><a href="/user/player/{{.Id}}" title="{{.Name}}">{{.Name}}</a></td>
                <td>{{.StrSex}}</td>
                <td>{{.Country}}</td>
                <td>{{.StrRank}}</td>
                <td>{{.Birth.Format "2006-01-02"}}</td>
                <td>
                    <form action="/user/player/del" method="post"><label><input name="id" type="hidden" value="{{.Id}}"></label><button onclick="this.submit()">删除</button></form>
                </td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </section>
    {{end}}
    <div style="clear:both;"></div>
</div>
{{end}}